@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');


*{margin:0; padding:0;}



body{

}


/* wrapper goes from here */
.wrapper{
	width:1280px;
	height:auto;
	margin:0 auto;
	clear:both;
}

/*header goes from here */
.header{
	float:left;
	background: #34495E;
	width:100%;
	height: 120px;
}

/* header image */
.header img{
	width:70px;
	height:70px;
	margin-left: 30px;
	margin-top: 22px;
	margin-right: 20px;
	float:left;
	clear:both;
}

/* header heading */

.header h1{
	color:#fff;
	font-size: 45px;
	padding-top: 30px;
}

/*menu start from here */ 

/*menuwrap */ 

.menuwrap{
	width:1280px;
	height: auto;
	margin: 0 auto;
}
.menu{
	width:100%;
	height: 60px;
	float:left;
	background-color: #27AE60;
}

.menu ul li{
	list-style-type: none;
	float:left;
	margin-top: 17px;
	margin-left: 20px;
}

.menu ul li a{
	float:left;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	padding-left: 24px;
	padding-right: 20px;
	transition: 1s;
	/* background-color:skyblue; */
}
.menu ul li a:hover{
	transition: 0.5s;
	background-color: #34495E;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius:3px;
}

/* imgslice wrapper */
 
.imgslidewrap{
	width:1280px;
	height: auto;
	margin:0 auto;
}

.imgslide img{
	width:100%;
	height: 500px;
}


.slider img{
	float:left;
	width:100%;
	height: 450px;
}


/* principlawrap start from here */
.principalwrap{
	width:1280px;
	height: auto;
	margin: 0 auto;
	clear:both;
}

/* message */
.message.clear{
	clear:both;
}
.message{
	width:100%;
	height: 100px;
	background-color: #27AE60;
	float:left;
}
.message h2{
	text-align: center;
	margin-top: 22px;
	font-size: 40px;
	color: #fff;
	
}

.principal img{
	width:50%;
	float:right;
	height: 500px;
}
.text p{
	text-align: justify;
	margin-right: 3px;
}

/* principal message section */
.primeswrap{
	width:1280px;
	height: auto;
	margin: 0 auto;
}
.bar{
	float:left;
	width:100%;
	height: 80px;
	background-color: #27AE60;
}
.bar h1{
	text-align: center;
	color:#fff;
	margin-top: 15px;
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
}

/*principal image seciton */

.principalwrap{
	width:1280px;
	height: auto;
	margin: 0 auto;
}
.principalimg{
	float:left;
}

.principalimg img{
	float:left;
	width:70%;
	border-radius: 50%;
	border:3px solid #34495E;
	margin-left: 10%;
	margin-top: 10%;
}

.principal p{
	float:left;
	padding-left: 25px;
}

}
/* text section */
.textwrap{
	width:-50%;
}
.text{
	width:100%;

}
.text p{
	padding-top: 20px;
	padding-left: 0px;
	padding-top: 20px;
	font-family: 'Roboto Slab', serif;
}
.text h2{
	padding-top: 80px;
	font-family: 'PT Serif', serif;
}
/* card wrap */

.cardicowrap{
	width:1280px;
	height: auto;
	margin: 0 auto;
}
.cardico{
	float:left;
	width:25%;
	margin-top: 5%;
	height: 250px;
}
.cardico img{
	float:left;
	margin-left: 30%;
}
.cardico p{
	float:left;
	margin-right: 25px;
	font-family: 'Roboto Slab', serif;
	text-align: justify;
}

/* our mission blank */
.ourmissionblank{
	width:100%;
	float:left;
	margin:0 auto;
	height: 45px;
}
/* footer wrap start from here */

.footerwrap{
	width:1280px;
	height: auto;
	margin:0 auto;
}
.footer{
	float:left;
	width:100%;
	height: 350px;
	background-color: #34495E;
}




/* blank div */
.blank{
	width:100%;
	height: 200px;
	float:left;
}
/* =========== heading ===========*/

.principalh{
	width:1280px;
	height: auto;
	margin: 0 auto;
}
.prinh h1{
	text-align: center;
}

/*========main==================*/

.tablewrap{
	width:1280px;
	height: auto;
	margin: 0 auto;
}
table{
	width:1275px;
	height: atuo;
	border:3px solid black;
}
tr{
	height: 318px;
	width:318px;
}
td{
	border:3px solid tomato;
	height: 318px;
}
.td1{
	width:636px;
	height: 318px;
}
.td1 img{
	width:636px;
	height: 318px;
}
.td2{
	width:318px;
	height: 318px;
}
.td2 img{
	width:318px;
	height: 318px;
}
/* td 3 */

.td3{
	width: 318px;
	height: 318px;
}
.td3 img{
	width:318px;
	height: 318px;
}
/* ================== */

.td4{
	width:636px;
	height: 318px;
}
.td4 img{
	width:318px;
	height: 318px;
}
.td5{
	width: 636px;
	height:318px;
}
.td5 img{
	width:636px;
	height:318px;
}
.td6{
	float: relative;
	width:318px;
	height: 318px;
}
.td6 img{
	width:318px;
	height:318px;
}
/* td 6 */



/* img */
img{
	width:50%;
}











/* header responsive */
@media screen and (max-width: 660px){
	.header{
		width:100%;
		height: 85px;
	}
	.header img{
		width:50px;
		height: 50px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 20px;
	}
	.header h1{
		font-size:20px;
		margin-top: 2px;
		
	}
}




/* menu responsive */
@media screen and (max-width: 660px){
	.menu{
		width:100%;
		height:85px;
	}
	.menu ul li{
		margin-left: 0;
		margin-top: 17px;
	}
	.menu ul li a{
		float:left;
		font-size: 15px;
	}
	.menu ul li a:hover{
		padding-top: 2px;
		padding-bottom: 2px;
	}
}

/* top image responsive */

@media screen and (max-width: 660px){
	.slider img{
		width:100%;
		height: 350px;
	}
}
/* header text 1*/

.text1{
	text-align: center;
}
.img1{
	float: left;
}
.img2{
	float: left;
	padding-left: 10px;
}
.img3{
	float: left;
}
.img4{
	float: left;
	padding-left: 10px;
}
/*campus image*/
.cam1{
	float: left;
}
.cam2{
	float: left;
	padding-left: 10px;
}
.cam3{
	float: left;
	padding-left: 10px;
}
.cam4{
	float: left;
}